@import "compass/reset";
@import "compass/css3";

@font-face {
    font-family: 'brandon_grotesqueblack';
    src: url('../assets/fonts/brandon_blk-webfont.eot');
    src: url('../assets/fonts/brandon_blk-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/brandon_blk-webfont.woff') format('woff'),
         url('../assets/fonts/brandon_blk-webfont.ttf') format('truetype'),
         url('../assets/fonts/brandon_blk-webfont.svg#brandon_grotesqueblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandon_grotesque_regularRg';
    src: url('../assets/fonts/brandon_reg-webfont.eot');
    src: url('../assets/fonts/brandon_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/brandon_reg-webfont.woff') format('woff'),
         url('../assets/fonts/brandon_reg-webfont.ttf') format('truetype'),
         url('../assets/fonts/brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandon_grotesquebold';
    src: url('../assets/fonts/brandon_bld-webfont.eot');
    src: url('../assets/fonts/brandon_bld-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/brandon_bld-webfont.woff') format('woff'),
         url('../assets/fonts/brandon_bld-webfont.ttf') format('truetype'),
         url('../assets/fonts/brandon_bld-webfont.svg#brandon_grotesquebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandon_grotesquethin';
    src: url('../assets/fonts/brandon_thin-webfont.eot');
    src: url('../assets/fonts/brandon_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/brandon_thin-webfont.woff') format('woff'),
         url('../assets/fonts/brandon_thin-webfont.ttf') format('truetype'),
         url('../assets/fonts/brandon_thin-webfont.svg#brandon_grotesquethin') format('svg');
    font-weight: normal;
    font-style: normal;
}

$header_pat_left: 15%;
$header_logo_width: 5.8%;
$header_pat_right: 100% - ($header_pat_left + $header_logo_width);


*{
  margin: 0;
  padding: 0;
}

body, html, #container{
  display: block;
  width: 100%;
  height: 100%;
}

/*****************************************************************************************************************/
/************************************************** header pagina ************************************************/
/*****************************************************************************************************************/

.header{
  position: fixed;
  top: -99px;
  left: 0;
  width: 100%;
  height: 96px;
  z-index: 15;
  overflow: hidden;

  transition: top .3s ease-in-out;
  -webkit-transition: top .3s ease-in-out; /* Safari */

  .header_pat{
    width: 100%;
    float: left;
    display: inline-block;
    background: url('../images/header/header_pat.png');
    height: 96px;

    .header_underline{
      position: absolute;
      margin-top: 21px;
      height: 4px;
      background-color: #e51837;
      opacity: .2;

      transition: opacity .2s ease-out;
      -webkit-transition: opacity .2s ease-out; /* Safari */
    }

    #header_underline_1{
      width: 50px;
    }

    #header_underline_2{
      width: 170px;
    }

    #header_underline_3{
      width: 108px;
    }

    header nav ul{

      margin-left: 25%;
      margin-top: 25px;

      li{
        font-family: brandon_grotesqueblack;
        text-transform: uppercase;
        display: inline-block;

        &:hover > .header_underline{
          opacity: 1;
        }

        &:not(:last-child){
          margin-right: 15%;
        }

        a{
          text-decoration: none;
          color: #e51837;
        }
      }
    }
  }

  #header_logo{
    float: left;
    display: inline-block;
    background: url('../images/header/header_logo.png') no-repeat;
    width: 72px;
    margin-left: 10%;
    height: 99px;

  }
}

.show_header{
  top: 0;
}

/*****************************************************************************************************************/
/************************************************** store pagina *************************************************/
/*****************************************************************************************************************/

#store_map
{
  display: block;
  border: 6px #FFF solid;
  box-shadow: 0 5px rgba(0,0,0, .21);
  width: 90%;
  height: 76%;
  position: relative;
  top: 150px;
  margin-left: auto;
  margin-right: auto;
}

#store_pop-up-box{

    display: none;
    background: url('../images/store/detail_box.png') no-repeat;
    width: 379px;
    height: 313px;
    position: absolute;
    z-index: 14;
    margin-top: -310px;
    right: 0;
    transform-origin:100% 20%;
    -moz-transform-origin:100% 20%;
    -ms-transform-origin:100% 20%;
    -webkit-transform-origin:100% 20%;

    transform:rotate(-180deg);
    -ms-transform:rotate(-180deg); /* IE 9 */
    -moz-transform:rotate(-180deg); /* IE 9 */
    -webkit-transform:rotate(-180deg); /* Safari and Chrome */

  #store_tel{
    font-family: brandon_grotesque_regularRg;
    font-size: 2.5em;
    color: #e51837;
    margin-left: 24px;
    margin-top: 112px;
  }

  #store_state, #store_street{
    font-family: brandon_grotesqueblack;
    font-size: 1.3em;
    color: #000000;
    margin-left: 24px;
  }

  #store_directions{
    background: url('../images/store/get_directions_btn.png') no-repeat;
    width: 303px;
    height: 43px;
    position: absolute;
    margin-top: 46px;
    margin-left: 23px;

    &:hover{
      background: url('../images/store/get_directions_btn_hover.png') no-repeat;
    }
  }
}


/*****************************************************************************************************************/
/************************************************** home pagina **************************************************/
/*****************************************************************************************************************/

#start_balk{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: url('../images/home/header_bg.png') repeat-x;
  width: 100%;
  height: 31px;

  header nav{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 70%;

    transition: width .3s ease-out;
    -webkit-transition: width .3s ease-out;

    #start_store_locator{
      display: inline-block;
      background: url('../images/home/store_locator_btn.png') no-repeat center;
      width: 238px;
      height: 42px;

      transition: margin-top .3s ease-out, margin-bottom .5s ease-out;
      -webkit-transition: margin-top .3s ease-out, margin-bottom .5s ease-out;
      float: left;
    }

    #start_burger_showoff{
      float: right;
      display: inline-block;
      background: url('../images/home/burger_showoff_btn.png') no-repeat center;
      width: 267px;
      height: 42px;

      transition: display .3s ease-out;
      -webkit-transition: display .3s ease-out;
    }
  }
}

#start_blur_bg{
  position: absolute;
  top:0;
  left:0;
  background: url('../images/home/bg_blur.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;

  h1{
    font-family: brandon_grotesqueblack;
    font-size: 4.5em;
    margin-top: 150px;
    text-shadow: 0 5px rgba(0,0,0, .21);

    transition: font-size .3s ease-out, width .2s ease-in-out, margin-top .5s ease-in-out;
    -webkit-transition: font-size .3s ease-out, width .2s ease-in-out, margin-top .5s ease-in-out;

  }

  p{
    font-family: brandon_grotesquebold;
    font-size: 1.4em;
    text-shadow: 0 3px rgba(0,0,0, .21);

    transition: font-size .3s ease-out, width .2s ease-in-out;
    -webkit-transition: font-size .3s ease-out, width .2s ease-in-out;



    span{
      display: inline-block;
      background: url('../images/home/logo.png') no-repeat center 150%;
      width: 61px;
      height: 48px;
      position: relative;
      top: 16px;
    }
  }

  h1, p{
    color: white;
    text-transform: uppercase;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

#start_table_box{

  #start_table{
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    background: url('../images/home/table.png') no-repeat center 100%;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    width: 100%;
    height: 100%;
    margin: auto;


    #start_ui{
      background: url('../images/home/onion.png') no-repeat center 100%;
      position: absolute;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      width: 100%;
      height: 100%;
    }

    #start_cola{
      background: url('../images/home/coffee.png') no-repeat center 100%;
      position: absolute;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      width: 100%;
      height: 100%;

      transition: margin-left .3s ease-out;
      -webkit-transition: margin-left .3s ease-out;
    }

    #start_kaas{
      background: url('../images/home/icons/kaas.png') no-repeat center 100%;
      position: absolute;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      width: 100%;
      height: 100%;

      transition: margin-left .6s ease-out;
      -webkit-transition: margin-left .6s ease-out;
    }

    #start_vlees{
      background: url('../images/home/icons/vlees.png') no-repeat center 100%;
      position: absolute;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      width: 100%;
      height: 100%;

      transition: margin-left .8s ease-out, margin-top .4s ease-out;
      -webkit-transition: margin-left .8s ease-out, margin-top .4s ease-out;
    }

    #start_groenten{
      background: url('../images/home/icons/groenten.png') no-repeat center 100%;
      position: absolute;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      width: 100%;
      height: 100%;
      transition: margin-left .6s ease-out;
      -webkit-transition: margin-left .6s ease-out;
      overflow: hidden;
    }

    #start_burger{
      display: block;
      background: url('../images/home/burger.png') no-repeat center 100%;
      position: absolute;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      width: 100%;
      max-width: 1440px;
      margin-left: auto;
      margin-right: auto;
      height: 100%;

      transition: background-position .3s ease-out;
      -webkit-transition: background-position .3s ease-out;
    }

    #start_create_a_burger{
      display: block;
      margin-top: 660px !important;
      position: relative;
      z-index: 3;
      background: url('../images/home/create_burger_btn_hover.png') no-repeat center;
      width: 400px;
      height: 67px;
      margin: auto;
      background-size: 100%;

      transition: margin-top .3s ease-out, background-size .5s ease-out;
      -webkit-transition: margin-top .3s ease-out, background-size .5s ease-out;



      span{
        visibility: hidden;
      }
    }
  }
}

.wood_container{
  display: block;
  width: 100%;
  height: 100%;
  background: url('../images/promo/bg_2.jpg') center center;
  margin-top: 758px;
  padding-bottom: 20px;
  overflow: hidden;
}

/*****************************************************************************************************************/
/************************************************** promo pagina *************************************************/
/*****************************************************************************************************************/


#promo_container{

  #promo_box{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 135px !important;

    #promo_left{
      width: 550px;
      float: left;
      //background-color: blue;


      #promo_iphone{
        position: relative;
        z-index: 5;
        top: -1px;
        background: url('../images/promo/iphone.png') no-repeat;
        width: 367px;
        margin-left: 100px;
        margin-top: -35px;
        height: 652px;
        //background-color: red;
      }

      #promo_knife, #promo_leek, #promo_man, #promo_red, #promo_yellow{
        position: absolute;
        z-index: 4;
      }

      #promo_knife{
        margin-top: 275px;
        margin-left: 290px;
        background: url('../images/promo/items/knife.png') no-repeat bottom right;
        width: 178px;
        height: 173px;

        transition: all .4s ease-in-out, margin-left .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out, margin-left .4s ease-in-out; /* Safari */
      }

      #promo_leek{
        background: url('../images/promo/items/leek.png') no-repeat center center;
        width: 181px;
        height: 192px;
        margin-top: 375px;
        margin-left: 280px;

        transition: margin-left .6s ease-in-out, margin-top .6s ease-in-out, all .8s ease-in-out;
        -webkit-transition: margin-left .6s ease-in-out, margin-top .6s ease-in-out, all .8s ease-in-out;
      }

      #promo_red{
        background: url('../images/promo/items/rood.png') no-repeat center center;
        width: 143px;
        height: 143px;
        margin-top: 405px;
        margin-left: 170px;

        transition: margin-left 1.2s ease-in-out, margin-top 1s ease-in-out;
        -webkit-transition: margin-left 1.2s ease-in-out, margin-top 1s ease-in-out;
      }

      #promo_yellow{
        background: url('../images/promo/items/geel.png') no-repeat center center;
        width: 112px;
        height: 112px;
        margin-top: 400px;
        margin-left: 150px;

        transition: margin-left 1.1s ease-in-out, margin-top 1.1s ease-in-out;
        -webkit-transition: margin-left 1.1s ease-in-out, margin-top 1.1s ease-in-out;
      }

      #promo_man{
        background: url('../images/promo/items/man.png') no-repeat center center;
        width: 263px;
        height: 318px;
        margin-top: 200px;
        margin-left: 120px;

        transition: margin-left .4s ease-in-out;
        -webkit-transition: margin-left .4s ease-in-out; /* Safari */
      }
    }

    #promo_right{
      width: 47%;
      float: right;
      //background-color: green;

      transition: all .5s ease-out;
      -webkit-transition: all .5s ease-out; /* Safari */

      header h1{

        font-family: brandon_grotesquebold;
        text-transform: uppercase;
        color: #FFFFFF;
        font-size: 2.7em;
        line-height: 1.15em;
        text-shadow: 0 5px rgba(0,0,0, .21);

        span{
          color: #ffc400;
        }
      }

      p{
        font-family: brandon_grotesquethin;
        color: #FFFFFF;
        margin-top: 25px;
        font-size: 1.5em;
        line-height: 1.3em;
        width: 340px;

        transition: all .5s ease-out;
        -webkit-transition: all .5s ease-out; /* Safari */
      }

      #promo_counter{
        background: url('../images/promo/counter.png') no-repeat;
        margin-top: 25px;
        width: 312px;
        height: 95px;

        transition: all .5s ease-out;
        -webkit-transition: all .5s ease-out; /* Safari */

        ul{
          margin-left: 13px;
          li{
            position: absolute;
            font-family: brandon_grotesquethin;
            text-shadow: 0 4px rgba(0,0,0, .21);
            color: #FFF;
            font-size: 4.3em;
            display: inline-block;
            width: 75px;
            text-align: center;
          }

          #first_number{
            margin-left: -5px;
          }

          #second_number{
            margin-left: 97px;
          }

          #third_number{
            margin-left: 203px;
          }
        }
      }

      #promo_download{
        display: inline-block;
        margin-top: 25px;
        background: url('../images/promo/download_app.png') no-repeat;
        width: 300px;
        height: 62px;

        &:hover{
          background: url('../images/promo/download_app_hover.png') no-repeat;
        }
      }
    }

  }
}


.man_loaded{
  margin-left: 0px !important;
}

.knife_loaded{
  transform: rotate(80deg);
  -ms-transform: rotate(80deg); /* IE 9 */
  -webkit-transform: rotate(80deg); /* Safari and Chrome */
  margin-left: 380px !important;
}

.leek_loaded{
  transform: rotate(20deg);
  -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Safari and Chrome */
  margin-top: 475px !important;
  margin-left: 380px !important;
}

.red_loaded{
  margin-top: 525px !important;
  margin-left: 80px !important;
}

.yellow_loaded{
  margin-top: 500px !important;
  margin-left: 30px !important;
}

/*****************************************************************************************************************/
/************************************************** list pagina **************************************************/
/*****************************************************************************************************************/

#list_container{
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  margin-left: auto;
  margin-right: auto;

  #list_left{
    margin-top: 120px;
    float: left;
    width: 30%;
    //background-color: blue;

    #list_counter{
      background: url('../images/list/counter_bg.png') no-repeat;
      margin: auto;
      width: 297px;
      height: 91px;

      ul{
        margin-left: 13px;
        li{
          position: absolute;
          font-family: brandon_grotesquethin;
          text-shadow: 0 4px rgba(0,0,0, .21);
          color: #FFF;
          font-size: 4.3em;
          display: inline-block;
          width: 75px;
          text-align: center;
        }

        #first_number{
          margin-left: -5px;
        }

        #second_number{
          margin-left: 97px;
        }

        #third_number{
          margin-left: 203px;
        }
      }
    }

    #list_selected_burger{
      margin-top: 50px;
      background-color: rgba(0,0,0, .05);
      height: 500px;

      -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0, .4);
      -moz-box-shadow: inset 0 2px 3px rgba(0,0,0, .4);
      box-shadow: inset 0 2px 3px rgba(0,0,0, .4);
      -moz-border-radius: 9px;
      border-radius: 9px;

      header{
        h1{
          padding-top: 15px;
          text-align: center;
          font-family: brandon_grotesquebold;
          color: white;
          text-transform: uppercase;
          font-size: 1.8em;
          text-shadow: 0 4px rgba(0,0,0, .21);

          transition: font .3s ease-in-out;
          -webkit-transition: font .3s ease-in-out; /* Safari */
        }
      }

      #list_products_bar{
        margin-top: 5px;
        height: 45px;
        background-color: rgba(255,255,0, .3);
        background-position: center center;
      }

      img{
        width: 100%;
      }

      #list_progress_bar{
        margin-top: 15px;
        max-width: 100%;

        #numb_left{
          margin-top: -17px;
          margin-left: 12%;
          width: 15px;
          float: left;
        }

        #numb_active{
          //Margin-left gebruiken om variabel te maken, instellen met JS
          margin-left: 10%;
          margin-right: 5%;
          position: relative;
          top: 20px;

          p{
            background: url('../images/list/pointer.png') no-repeat center center;
            width: 25px;
            height: 50px;
            position: absolute;
            top: -60px;
          }
        }

        #numb_right{
          margin-top: -17px;
          margin-right: 13%;
          position: relative;
          float: right;
        }

        #numb_left, #numb_right, #numb_active p{
          font-family: brandon_grotesquebold;
          color: white;
          text-shadow: 0 2px rgba(0,0,0, .21);
        }

        #list_progress_bar_outer{
          background-color: black;
          height: 1px;
          width: 73%;
          margin-left: auto;
          margin-right: auto;
          #list_progress_bar_inner{
            width: 10%;
            height: 100%;
            background-color: rgba(255,196,0, 1);
          }
        }
      }

      #list_vote_btn{
        display: block;
        margin-top: 16px;
        margin-left: auto;
        margin-right: auto;
        background: url('../images/list/vote_btn.png') no-repeat center;
        width: 254px;
        height: 62px;


        &:hover{
          background: url('../images/list/vote_btn_hover.png') no-repeat center;
        }
      }

      #list_names{
        font-family: brandon_grotesquebold;
        font-size: .8em;
        text-transform: uppercase;
        text-align: center;
        color: white;
        text-shadow: 0 2px rgba(0,0,0, .21);
        line-height: 1.4em;

        margin-top: 15px;
        margin-left: 14%;
        margin-right: 14%;
      }
    }
  }

  #list_right{
    margin-top: 130px;
    float: right;
    width: 70%;
    //background-color: red;

    form{
      margin-left: 5%;
      width: 540px;
      //background-color: green;
      margin-left: 15%;

      fieldset{
        border: none;

        input[type="text"]{
          width: 80%;
          height: 68px;
          border: none;
          font-family: brandon_grotesquebold;
          padding-left: 8%;
          font-size: 1.2em;
          text-transform: uppercase;
          color: white;
          text-shadow: 0 2px rgba(0,0,0, .21);
          background-color: rgba(0,0,0, .25);

          -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0, .4);
          -moz-box-shadow: inset 0 2px 3px rgba(0,0,0, .4);
          box-shadow: inset 0 2px 3px rgba(0,0,0, .4);
          -moz-border-radius: 9px;
          border-radius: 9px;

          opacity: .5;
          outline: none;

          transition: opacity .2s ease-out, width .4s ease-in-out;
          -webkit-transition: opacity .2s ease-out, width .4s ease-in-out;

          &:focus{
            opacity: 1;
            width: 85%;
          }

          &:focus + #list_submit{
            opacity: 1;
          }

        }

        input[type="submit"]{
          background: url('../images/list/vote_submit.png') no-repeat center center;
          width: 30px;
          height: 30px;
          border: none;
          position: relative;
          top: 11px;
          left: -65px;
          //background-color: red;
          opacity: .5;
          cursor: pointer;

          transition: opacity .2s ease-out, background .3s ease-in-out;
          -webkit-transition: opacity .2s ease-out, background .3s ease-in-out;

          &:hover{
            background: url('../images/list/vote_submit_hover.png') no-repeat center center;
          }
        }

        input::-webkit-input-placeholder {
            color: white;
        }
        input::-moz-placeholder {
          color: white;
        }
        input::-ms-input-placeholder {
          color: white;
        }
    }
    }

    #list_burger_title{
      margin-top: 10px;
      width: 90%;
      margin-left: 15%;
      h1{
        display: inline-block;
        font-family: brandon_grotesquebold;
        text-transform: uppercase;
        font-size: 2em;
        color: white;
        text-shadow: 0 2px rgba(0,0,0, .31);

        span{

          #list_burger_stroke{
            width: 203px;
            height: 2px;
            background-color: white;
            box-shadow: 0 2px rgba(0,0,0, .31);
            position: absolute;

          }

        }
      }

      #list_filter{
        display: inline-block;
        background: url('../images/list/filter_btn.png') no-repeat center center;
        width: 49px;
        height: 38px;
        position: relative;
        top: 13px;
        left: 35px;

        transition: background .3s ease-in-out;
        -webkit-transition: background .3s ease-in-out;

        &:hover{
          background: url('../images/list/filter_btn_hover.png') no-repeat center center;
        }

      }

    }

    #list_all_burgers{
      background: url('../images/list/list_bg.png') repeat-x;
      margin-top: 9px;
      margin-left: 15%;
      height: 500px;
      overflow: auto;

      #columns{

        .top_3{
          position: relative;
          background-color: rgba(0,0,0, .05);

          -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0, .4);
          -moz-box-shadow: inset 0 2px 3px rgba(0,0,0, .4);
          box-shadow: inset 0 2px 3px rgba(0,0,0, .4);
          -moz-border-radius: 9px;
          border-radius: 9px;
          margin-right: 3px;

        }
        .pin{

          //background-color: green;
          width: 210px;
          margin-right: 15px;
          margin-bottom: 15px;
          header h1{
            padding-top: 20px;
            text-transform: uppercase;
            text-align: center;
            font-family: brandon_grotesquebold;
            color: white;
            font-size: 1.2em;
            text-shadow: 0 2px rgba(0,0,0, .21);
          }

          .list_voting_count{
            width: 100%;
            text-align: center;
            font-family: brandon_grotesqueblack;
            color: #FFC400;
            font-size: 1.1em;
            text-shadow: 0 2px rgba(0,0,0, .31);


            .list_voting_image{
              display: inline-block;
              background: url('../images/list/voting_count.png') no-repeat center center;
              width: 21px;
              height: 19px;
              position: relative;
              top: 4px;
              left: -4px;
            }
          }

          .list_top_3{
            background: url('../images/list/burger_name_pat.png') repeat-x center center;
            width: 100%;
            height: 36px;
            box-shadow: 0 2px 1px rgba(0,0,0, .21);

            p{
              text-align: center;
              padding-top: 10px;
              text-transform: uppercase;
              font-family: brandon_grotesquebold;
              color: white;
              font-size: 1.2em;
              text-shadow: 0 2px rgba(0,0,0, .21);
            }
          }

          img{
            max-width: 100%;


            &:hover + .list_burger_image_active{
              opacity: 1;
            }
          }

          .list_burger_image_active{
            background: url('../images/list/loep.png') no-repeat center center;
            position: absolute;
            bottom: 20%;
            opacity: 0;
            width: 100%;
            height: 54px;
            cursor: pointer;

            transition: opacity .3s ease-in-out;
            -webkit-transition: opacity .3s ease-in-out;

            &:hover{
              opacity: 1;
            }
          }
        }
      }
    }
  }
}


/*****************************************************************************************************************/
/************************************************** divers ****** ************************************************/
/*****************************************************************************************************************/

.clear{
  clear: both;
}
/*****************************************************************************************************************/
/************************************************** media queries ************************************************/
/*****************************************************************************************************************/

@media only screen and (max-width : 1303px){

  #promo_container{
    #promo_box{
      #promo_left{
        display: none;
      }

      #promo_right{
        display: block;
        width: 80%;
        float: none;
        margin: auto;
        margin-top: 140px;

        header{
          width: 50%;
          float: left;
        }

        #promo_counter{
          float: right;
          margin-top: -275px;
        }

        p{
          display: block !important;
          padding-top: 120px;
          width: 100%;
        }
        }
      }

    }

  #list_selected_burger{
    header h1{
      font-size: 1.2em !important;
    }
  }
}

@media only screen and (max-width : 1103px){

  #promo_container{
    #promo_box{

      #promo_right{
        width: 95%;

        header{
          display: inline-block;
          width: 300px;

          h1{
              font-size: 2.3em;
              margin-top: 9px;
            }

        }

        p{
        }
        }
      }

    }

  #list_vote_btn{
    width: 180px !important;
    height: 44px !important;
    background-size: 80% 80% !important;
  }

  #list_selected_burger{
    header h1{
      font-size: .9em !important;
    }
  }
}

@media only screen and (max-width : 890px){

  #promo_container{
    #promo_box{

      #promo_right{
        width: 95%;
        margin-top: 0;

        header{
          float:none;
          display: block;
          text-align: center;
          width: 100%;
        }

        #promo_counter{
          float: none;
          margin-left: auto;
          margin-right: auto;
          margin-top: 25px;
        }

        p{
          padding: 0;
        }

        #promo_download{
          display: block;
          width: 300px;
          margin-left: auto;
          margin-right: auto;
          margin-top: 15px;
        }
        }
      }

    }
}


@media only screen and (max-width : 1150px){

  #start_table_box{
    #start_table{
      #start_create_a_burger{
        background-size: 80%;
        margin-top: 680px !important;
      }
    }
  }
}

@media only screen and (max-width : 840px){

  #start_table_box{
    #start_table{
      #start_create_a_burger{
        margin-top: 700px !important;
      }
    }
  }


  #start_balk{

    header nav{
      width: 90%;
    }
  }

  #start_blur_bg{
    p{
        font-size: 1.2em;
        width: 320px;
        line-height: 2em;
    }

    h1{
      margin-top: 195px;
      font-size: 5.5em;
      width: 375px;
    }
  }

  #start_cola{
    margin-left: -55px !important;
  }

  #start_kaas{
      margin-left: -85px !important;
    }

  #start_vlees{
      margin-left: 65px !important;
      margin-top: -15px !important;
    }

  #start_groenten{
      margin-left: 85px !important;
    }

  #start_burger{
    -webkit-background-size: 140% !important;
    -moz-background-size: 140% !important;
    -o-background-size: 140% !important;
    background-size: 140% !important;
    background-position: center 100% !important;
  }

}

@media only screen and (max-width : 610px){
  #start_table_box{
    #start_table{
      #start_create_a_burger{
        margin-top: 720px !important;
      }
    }
  }

  #start_balk{
    header nav{

      #start_store_locator{
        margin-top: 65px !important;
        margin-bottom: 15px !important;
      }

      #start_burger_showoff, #start_store_locator{
        display: block;
        float: none;
        width: 100%;
        margin: auto;
      }
    }
  }

  #start_blur_bg{
    h1{
      margin-top: 250px;
      width: 50%;
      font-size: 3em !important;
    }
  }

}

/*****************************************************************************************************************/
/************************************************** Iphone media query *******************************************/
/*****************************************************************************************************************/

@media only screen and (-webkit-min-device-pixel-ratio: 2){

  #start_cola{
    -webkit-background-size: 180% !important;
    -moz-background-size: 180% !important;
    -o-background-size: 180% !important;
    background-size: 180% !important;
    background-position: center 116% !important;
  }

  #start_burger{
    -webkit-background-size: 200% !important;
    -moz-background-size: 200% !important;
    -o-background-size: 200% !important;
    background-size: 200% !important;
    background-position: center 127% !important;
  }
}


.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.6s;
     -moz-transition-duration: 0.6s;
      -ms-transition-duration: 0.6s;
       -o-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}


/*
#kaka{
  height: 300px !important;
}*/
